body {
    background-color: #323128;
}

#loader {
    width: 60px;
    height: 20px;
    background-color: skyblue;
    position: relative;
    animation: loading 1s linear infinite;
}
  
#loader::before,#loader::after {
    content: "";
    width: 20px;
    height: 20px;
    background-color: skyblue;
    position: absolute;
}
  
#loader::before {
    left: -20px;
}
  
#loader::after {
    right: -20px;
}
  
@keyframes loading {
    0% {
      transform: translateX(-100px);
    }
    100% {
      transform: translateX(100px);
    }
}
  
#loader {
    animation: loading 10s;
}
  