:root{
    --background-color: #F4F2EC;
    --grey-color: #DCDCDC;
    --brown-color: #B2A18E;
    --green-color: #738557;
    --orange-color: #F16613;

}

body {
    background-color: var(--background-color);
}

