/* Custom Properties*/
:root{
    --background-color: #CAC7BA;
    --brown-color: #796752;
    --green-color: #738557;
    --orange-color: #F16613;

}

/* Global Styles*/
body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--background-color);
}

/* Header Styles */

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}

.header__nav {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    
}

.header__nav__logo {
    padding:  1rem;
    color: var(--green-color);
    font-size: 1.1rem;
    font-weight: bolder;
    text-decoration: none;
}

/* Main Styles */

.main__section {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main__section textarea {
    box-shadow: 10px 10px 10px 1px rgba(88, 88, 88, 0.514);
    border-radius: 1rem;
    resize: none;    
}

.main__section--left {
    max-height: 120px;
    background-color: var(--background-color);
    margin: 3rem 0;
    border: 1px solid transparent;
} 

.main__section--left textarea{
    border: .4rem solid #ffffff;
    background-color: var(--background-color);   
}

.main__section--right {
    max-height: 200px;
    margin: 4rem 0;
}

.main__section--right textarea{
    max-height: 120px;
    background-color: var(--green-color);
    border: .4rem solid var(--green-color);
    color: rgb(245, 244, 244);
    font-size: 1rem;
} 

textarea::placeholder {
    height: auto;
    font-size: 1rem;
    font-weight: bold;
    color: rgb(87, 87, 87);
    align-items: center;
    text-align: center;
   
}

/* Alerts */

.main_warning {
    width: 50%;
    font-size: .8rem;
    position: absolute;
    bottom: 22px;
    text-align: center;
}

.main_warning p{
    margin-top: .5rem;
    color: rgba(0, 0, 0, 0.308);
}


.main__section__alert { 
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.main__section__alert .figure__icon{
    width: .7rem;
    height: .7rem;
    position: relative;
    right: 5px;
    bottom: 1px;
    display: flex;
    padding: .1rem 0;
}

.main__section__alert p {
    position: relative;
    left: -40px;
    font-size: .7rem;
    font-weight: bold;
    color: var(--green-color);
}

.figure__icon {
    width: 1rem;
    height:1rem;
}

/* Botones */

.btn-textarea{
    max-width: 100px;
    font-weight: bold;
    margin: 0 auto;
    padding:  1rem;
    border-radius: 10px;
    border: 0px solid #000;
    background-color: #f16613;
    color: var(--background-color);
    box-shadow: 6px 6px 15px 11px rgba(151.0015869140625,151.0015869140625,151.0015869140625,0.5);
}

.container__btn--copy{
    position: absolute;
    top: 130px;
    left: 130px;
    /* display: none; */
}

.container__btn--element {
    display: flex;  
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    position: relative;
    bottom: 40px;
}

.btn-encriptar {
    background-color: var(--orange-color);
    font-size: .9rem;
}

.btn-desencriptar {
    background-color: var(--background-color);
    font-size: .7rem;
    font-weight: bold;
    text-align: center;
    color: var(--green-color);
}

/* Footer Styles */
.footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    color: var(--green-color);
}

.footer__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.footer__copyright {
    font-size:.8rem;
    padding: 1rem 0;
    position: relative;
    right: 30px;
}

.footer__list {
    padding: 0;
    display: flex;
    position: relative;
    right: 65px;
    bottom: 13px;
}

.footer__item{
    width: 1.5rem;
    height: 1.5rem;
}

.footer__item--right {
    max-width: 1rem;
    max-height: .5rem;
}



/* Media Queries */

/* 

@media (max-width: 768px){
    .container__grid {
        background-color: var(--green-color);
    }
}

*/
